doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(type='text/javascript', src='/js/lib/jquery.min.js')
    script(type='text/javascript', src='/js/lib/underscore.js')
    script(type='text/javascript', src='/js/lib/backbone.js')
    script(type='text/javascript', src='/js/lib/socket.io.js')
    script(type='text/javascript', src='/js/lib/jquery-ui.min.js')
    script(type='text/javascript', src='/js/lib/customlib.js')
    script(type='text/javascript', src='/js/backbone-ws.js')
    script(type='text/javascript', src='/js/pathtree.js')
    script(type='text/javascript', src='/js/models.js')
    script(type='text/javascript', src='/js/collections.js')
    script(type='text/javascript', src='/js/view.js')
    script(type='text/javascript', src='/js/controller.js')
  body
    block content