<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TaxiDispatch</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="/static/css/style.css" rel="stylesheet" type="text/css">
        
        <script src="/static/js/lib/jquery.min.js"></script>
    </head>

    <body>
        <div id="viewport"></div>
    </body>
    

    <script src="/static/js/lib/underscore.js"></script>
    <script src="/static/js/lib/backbone.js"></script>
    <script src="/static/js/lib/socket.io.js"></script>    
    <script src="/static/js/lib/jquery-ui.min.js"></script>
    <script src="/static/js/lib/customlib.js"></script>
    <script src="/static/js/backbone-ws.js"></script>

    <script src="/static/js/pathtree.js"></script>

    <script src="/static/js/models.js"></script>
    <script src="/static/js/collections.js"></script>
    <script src="/static/js/view.js"></script>

    <script src="/static/js/controller.js"></script>

</html>